.catimg{
  min-height: 200px;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.card-img-top{
  width: 100%;
  height: auto;
}
.catbox{
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2)
}
.margin-10{
  margin-top: 23px;
}
.catbox .padding{
  padding: 15px;
}
.container-btn{
  text-align: center;
}
.yes-btn, .no-btn{
  border-radius: 48px;
  padding: 13px 15px;
  margin: 10px 15px;
  outline: none;
  color: white;
  border:none;
}
.yes-btn:hover, .no-btn:hover{
  color: #000;
}
.h-5{
  height: 30px;
}
.w-5{
  height: 30px;
}
.yes-btn{
  background-color: #FF7272;
}
.no-btn{
  background-color: #72FFAA;
}
.cat-info{
  color: 3F3F3F;
}
.cat-info h2{
  margin: 0px;
  font-size: 17px;
}
.cat-info p{
  margin: 0px;
  margin-top: 10px;
  font-size: 15px;
}
.cat-info h3{
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}
.cat-info i{
  background-color: #FFF172;
  margin-right: 10px;
  border-radius: 15px;
  padding: 2px 10px;
}