body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}
.container{
  width: 350px;
  margin: 0px auto;
  background-color: white;
}
.rowcat{
  padding: 20px;
}
.catnip {
  background-color: #ff72e0;
  text-align: left;
  padding: 10px 25px;
  color: white;
  font-size: 16px;
  margin: 0px;
}
.text-center{
  text-align: center;
}